body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.second-container img {
    width: 100px;
    height: auto;
}

.placeholder {
    width: 500px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 12px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first-container {
    padding-right: 200px;
    padding-left: 200px;
}

.second-container {
    background-color: white;
}

.first-container-body {
    max-width: 400px;
}

.abc {
   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: start;
   gap: 32px;
   padding-bottom: 64px;
   padding-top: 64px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.title,
.subtext {
    padding-bottom: 16px;
}

.signup {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 24px;
    font-size: 18px;
}